html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

:root {
    --selago: #F4F5FD;
    --medium-selago: #E6E7FE;
    --dark-selago: #D7D8FF;
    --persian-blue: #1318C8;
    --arapawa-blue: #090C79;

    --green: #28A745;
    --yellow: #FFC107;
    --red: #DC3545;
    --gray: #6C757D;

  --background: #ffffff;
  --foreground: #171717;
}

.primary {
    background-color: var(--persian-blue);
    color: white;
}

.success {
    background-color: var(--green);
    color: white;
}

.warning {
    background-color: var(--yellow);
    color: white;
}

.danger {
    background-color: var(--red);
    color: white;
}

.cancel {
    background-color: var(--gray);
    color: white;
}

.task-list-item:hover {
    background-color: var(--medium-selago);
}

.selected-task {
    background-color: var(--dark-selago) !important;
}

.touchable-element {
    cursor: pointer;
}

.dashboard {
    background-color: var(--selago);
    border-radius: 20px;
}

.title {
    color: var(--arapawa-blue);
    font-weight: bold;
}

.scrollable {
    height: 70vh !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}